<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfileDebug" xsi:type="File" fileName="${basedir}/Logging/${level}.log" />
    <target name="logfileInfo" xsi:type="File" fileName="${basedir}/Logging/${level}.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfileDebug" />
    <logger name="*" minlevel="Info" writeTo="logfileInfo" />    
  </rules>
</nlog>